<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Starbounder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <Starbounder.Properties.Settings>
            <setting name="OperationSystem64" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ModDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="Author" serializeAs="String">
                <value>Heitx</value>
            </setting>
            <setting name="SBVersion" serializeAs="String">
                <value>Beta v. Glad Giraffe</value>
            </setting>
            <setting name="TextEditor" serializeAs="String">
                <value />
            </setting>
            <setting name="ImageEditor" serializeAs="String">
                <value />
            </setting>
            <setting name="StarboundFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="AssetsFolder" serializeAs="String">
                <value />
            </setting>
        </Starbounder.Properties.Settings>
    </userSettings>
</configuration>